<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="reset.css" />
    <link rel="stylesheet" href="style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Spicy+Rice&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="index_container">
      <div class="index-nav">
        <div class="nav-log">LOGO</div>
      </div>
      <div class="index-main-banner">
        <h1 class="main-banner-title">PT Helper</h1>
        <p class="main-banner-subtitle">
          마음껏 말해라, 당신이 이야기하고자 하는 것들을
        </p>
        <div class="main-banner-lgbtn">
          <button><a href="main.html">button</a></button>
          <a href="/account/login">카카오로그인 레츠기릿</a>
          <a href="/account/info">정보조회</a>
      </div>
      <div class="index-section">
        <div class="section-post01">#1</div>
        <div class="section-post02">#2</div>
        <div class="section-post03">#3</div>
      </div>
    </div>
  </body>
</html>
