<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index02</title>

    <!-- css -->
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <div id="wrap">
      <div id="header">
        <div class="container">
          <h1 class="header-logo">
            <a href="index.html">
              <div class="logo_icon"></div>
            </a>
          </h1>
          <!-- //헤더로고 -->
          <div class="header-menu">
            <a href="#">menu#1</a>
            <a href="#">menu#2</a>
            <a href="#">menu#3</a>
          </div>
          <!-- //헤더메뉴 -->
        </div>
        <!-- //헤더컨테이너 -->
      </div>
      <!-- header 로고 및 메뉴 -->
      <div id="contents">
        <h1>preZent</h1>
        <p>
          당신의 이야기를 도와줄 새로운 서비스 <br />
          발표를 선물하라, 프레젠트
        </p>
      </div>
      <!-- //contents 메인 및 서브 타이틀 -->
      <div id="side">
        <div class="side-img">당신을 위한 선물</div>
      </div>
      <!-- //side 그림 삽입-->
      <div id="footer">
        <div class="footer-icon">
          <a href="#" class="icon1"><span class="ir_pm">icon1</span></a>
          <a href="#" class="icon2"><span class="ir_pm">icon2</span></a>
          <a href="#" class="icon3"><span class="ir_pm">icon3</span></a>
        </div>
      </div>
      <!-- //footer btn 3개 만들기-->
    </div>
    <!-- //wrap -->
  </body>
</html>
