<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PT Helper</title>
    <link rel= "stylesheet" type="text/css" href="../css/style_main.css">
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
</head>

<body>
    <div class ="navi">

        <h1><a href="main.html"><img class ="logo_image" src="../pics/logo_1.png"></a></h1>

        <div class = "search_group">
            <input class ="search" type="text" placeholder="문서를 검색해주세요">
            <a><button class="search_button">search</button></a>
        </div>


      
        <h2 class ="user_logout"><a href="main.html" id="logout">LOGOUT </a></h2 class>
        <h3 class="user_id"> example@kakao.com</h3>
        
    </div>

    <div class = "main_grid">

        <div class = "left_side">
            <form> <input type="file" id="file_upload" accept = ".pdf" name="file" onchange="changeValue(this)"/> </form>
            <button onclick = document.all.file.click() class="add_file_button"> 슬라이드 추가하기</button> </form>
            <div class = "file_category">
                <br>
                
            </div>
        </div>
        <form>

            <div class = "right_side">
                <div class = "right_upper_2">
                     <input class ="user_input" type="text" placeholder="제목을 입력해주세요" > 
                     <button class="user_ppt_save"> 저장</button>
                </div>

                <div class = "right_under_2">

                    <div class = "page_container">

                        <div class = "page_viewer">
                                <img class = "page_img" src="https://source.unsplash.com/category/nature/1600x900">
                        </div>
                        <div class = "page_describe">

                        </div>
                    </div>
                    <div class = "page_container">

                        여기에 페이지 컨텐츠 
                    </div>
                    <div class = "page_container">

                        hello
                    </div>

                </div>
            </div>
        </form>
        
    </div>
        
    


</body>