<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&family=Rock+Salt&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <section id="container">
      <header id="header">
        <h1 class="logo">
          <a href="index.html"><div class="main_logo"></div></a>
        </h1>
        <section class="inner"></section>
      </header>
    </section>

    <section id="index_main_container">
      <div class="index_inner">
        <div class="index_main_banner">
          <div class="index_main_title"><h1>PT-HELPER</h1></div>
          <div class="index_sub_title">
            <p>
              " 당신의 또 하나의 전략 <strong>::</strong> 말하라, 당신의
              이야기를 "
            </p>
          </div>
          <div class="kakao_login_btn"><button>카카오로 로그인</button></div>
        </div>

        <div class="index_contents_box"></div>
      </div>
      <div class="index_bottom_section">
        <div id="test"></div>
      </div>
    </section>
  </body>
</html>
