<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PT Helper</title>
    <link rel= "stylesheet" type="text/css" href="style_main.css">

</head>

<style>

    @font-face { font-family: 'SeoulNamsanM'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SeoulNamsanM.woff') format('woff'); font-weight: normal; font-style: normal; }
</style>
<body>
    <div class ="navi">

        <h1><a href="main.html"><img class ="logo_image" src="asset/logo_1.png"></a></h1>

        <div class = "search_group">
            <input class ="search" type="text" placeholder="문서를 검색해주세요">
            <a><button class="search_button">search</button></a>
        </div>


      
        <h2 class ="user_logout"><a href="main.html" id="logout">LOGOUT </a></h2 class>
        <h3 class="user_id"> example@kakao.com</h3>
        
    </div>


    <div class = "main_grid">

        <div class = "left_side">
            <button  class="add_file_button"> 슬라이드 추가하기</button>
            <div class = "file_category">
                <br>
                여기에 경로?
            </div>
        </div>

        <div class = "right_side">
            
            <div class = "right_upper">
               <p class="route title"> 내 문서 > 폴더 > 경로 표시..</p>
            </div>

            <div class ="right_under">
               
                <div class="cell_container">
                    <a href="main.html">
                        <div class = "cell">
                            <div class="thumbnail">
                                
                                <div class = "centered">
                                    <img src="https://via.placeholder.com/320x200" alt="샘플이미지">
                                    <div class="cell_title"> 제목이 여기로</div>
                                </div>
                          
                            </div>
                            
                        </div>
                    </a>
    
                    <a href="main.html" alt="">
                        <div class = "cell">
                            <div class="thumbnail">
                                
                                <div class = "centered">
                                    <img src="https://via.placeholder.com/320x200/red" alt="샘플이미지">
                                    <div class="cell_title"> 제목이 여기로</div>
                                </div>
                          
                            </div>
                            
                        </div>
                    </a>

                    <a href="main.html" alt="">
                        <div class = "cell">
                            <div class="thumbnail">
                                
                                <div class = "centered">
                                    <img src="https://via.placeholder.com/320x200/random" alt="샘플이미지">
                                    <div class="cell_title"> 제목이 여기로</div>
                                </div>
                          
                            </div>
                            
                        </div>
                    </a>

                    <a href="main.html" alt="">
                        <div class = "cell">
                            <div class="thumbnail">
                                
                                <div class = "centered">
                                    <img src="https://via.placeholder.com/320x200/FF0000" alt="샘플이미지">
                                    <div class="cell_title"> 제목이 여기로</div>
                                </div>
                          
                            </div>
                            
                        </div>
                    </a>

                    <a href="main.html" alt="">
                        <div class = "cell">
                            <div class="thumbnail">
                                
                                <div class = "centered">
                                    <img src="https://via.placeholder.com/320x200/FFFF00" alt="샘플이미지">
                                    <div class="cell_title"> 제목이 여기로</div>
                                </div>
                          
                            </div>
                            
                        </div>
                    </a>


                    
                </div>



                </div>
            </div>


        </div>
        
    </div>



    
</body>
</html>