<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel= "stylesheet" type="text/css" href="style.css">

</head>

<style>

    @font-face { font-family: 'SeoulNamsanM'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SeoulNamsanM.woff') format('woff'); font-weight: normal; font-style: normal; }
</style>
<body>
    <div class ="navi">

        <h1><a href="main.html"><img class ="logo_image" src="asset/logo_1.png"></a></h1>
        <input class ="search" type="text" placeholder="문서를 검색해주세요">
        <a><button class="search_button">search</button></a>


      
        <h2 class ="user_logout"><a href="main.html" id="logout">LOGOUT </a></h2 class>
        <h3 class="user_id"> example@kakao.com</h3>
        
    </div>


    <div class = "main_grid">

        <div class = "left_side">
            <p>this is left side</p>
            <div class="shaped_square"> BLOCK </div>
        </div>

        <div class = "right_side">
            <p> this is right side</p>
        </div>
        
    </div>



    
</body>
</html>