@font-face{

    font-family:'SeoulNamsanM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SeoulNamsanM.woff') format('woff'); 
    font-weight: lighter; 
    font-style: normal; 
  
  
    
  
}


@font-face { 
    font-family: 'S-CoreDream-2ExtraLight'; 
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-2ExtraLight.woff') format('woff'); 
    font-weight: normal; 
    font-style: normal; }


    @font-face { 
        font-family: 'Arita-dotum-Medium'; 
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Arita-dotum-Medium.woff') format('woff'); 
        font-weight: normal; 
        font-style: normal; }
.shaped_square
{
    text-align:center;

    font-size:32px;

    color:#FFFFFF;

    padding:10px;

    border:50px red;

    margin:10px;

    border-radius:5px;
    background:none;




}
  
body,h1,h2,h3,h4,h5,button {font-family: "Arita-dotum-Medium","S-CoreDream-2ExtraLight","SeoulNamsanM", sans-serif}
body{margin:0}

.navi
{
    margin:0;
    height:7.5vmin;
    width:100vw;
    
    background-color: rgb(239,239,237);
    
}



.navi *
{
    display:inline-block;
    z-index:9999;
}

    .logo_image
    {
        float:left;
        width:15vmin;
        margin-left:8%;
        margin-top:-3%;
        
    }

    .search_group
    {
        display:inline;
        position:absolute;
        margin-left: 15vmin;
        top: 2.5vmin;
    }

        .search
        {
            border:0;
            
            width: 240px;
            height: 20px;


        }

        .search_button
        {
            position:absolute;

            top:0;
            margin-left:2vmin;
            font-size:1.6vmin;
            

        }
    .user_id,.user_logout
    {
        margin-right:4vmin;
        float:right;
        margin-top:2.7vmin;
    }

    #logout
    {   

        margin-top:0;
        text-decoration:none;
        color:black;


        text-align:center;

        
        border:1px black;



    }

    #logout:hover
    {
        color:gray;
    }



/* ============== NAVI END ============== */
.main_grid
{

    height:93vmin;
    width:100vw;
    margin:0;
    display:inline-block;

    background-color:white;

}


.left_side
{
    margin-top:-0.3vh;
    display: block;
    z-index:-33;
    width:14.9vw;
    height:93vmin;
    background-color: white;
    border-right: 0.05vw rgb(216, 216, 216) solid ;
    float:left;
}
.add_file_button
{
    background:#1AAB8A;
    color:white;
    border:none;
    position:relative;
    height:6%;
    width:14.9vw;
    font-size:1.2em;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    overflow-y:hidden;
}

.add_file_button:hover
{
    background:white;
    color:black;
}
.add_file_button:before,.add_file_button:after
{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #1AAB8A;
    transition:400ms ease all;
}
.add_file_button:after
{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
}

.add_file_button:hover:before,.add_file_button:hover:after
{
    width:100%;
    transition:800ms ease all;
}
  
.file_category
{
    text-align:center;
}


/* ============== left_side END ============== */
.right_side
{
    height:93vh;
    margin-top:-0.3vh;

    background-color: white;
    width:84.9vw;
    float:right;

}



.right_upper
{
   
  

    height:4%;
    width:100%;
    border-bottom : 0.05vw rgb(216, 216, 216) solid ;

}
    .right_upper p
    {
        font-size:1em;
        margin-inline-start:30px;
    }

    .right_upper > p.route_title
    {
        vertical-align: middle;
        display:inline-block;
        text-align:middle;



    }




.right_under
{
    
}

.cell_container
{
    display:table;
    width:76.5vw;
    margin-top:6vh;
    margin-left:4.25vw;
    margin-right:4.25vw;


}

.cell
{
    width:14.5vw;
    height:8.43vw;
    margin-right:2.125vw;
    margin-left:2.125vw;
    margin-bottom:4.5vw;
    
}

.cell_container a:visited
{
    color:black;
}

.cell_container a .cell + .cell{
    border-left:1px solid #ccc;
    border-top:1px solid #ccc;

}

.cell_container a .cell
{
    background-color: rgb(239,239,237);
    border-left:1px solid #ccc;
    border-top:1px solid #ccc;
    display: inline-block;
    vertical-align: middle;
    text-align:center;
    
    padding : 0; /* cell 테두리와 컨텐츠 사이의 간격 */
 
    
}

/* 사진 각 셀칸에 꽉 채우고 세로 중앙 정렬 시키기 */
.thumbnail
{
    position:relative;
    padding-top:56.25%; /* 이미지 16:9 비율로 채우기*/
    overflow:hidden;
}



.thumbnail .centered 
{ 
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    -webkit-transform: translate(50%,50%); 
    -ms-transform: translate(50%,50%); 
    transform: translate(50%,50%); 
}

.thumbnail .centered img 
{ 
    position: absolute; 
    top: 0; 
    left: 0; 
    max-width: 100%; 
    height: auto; 
    -webkit-transform: translate(-50%,-50%); 
    -ms-transform: translate(-50%,-50%); 
    transform: translate(-50%,-50%); 
}

.thumbnail .centered .cell_title
{ 
    position: absolute; 
    width:100%;
    height:25%;
    top: 45%; 
    left: 0; 
    max-width: 100%; 
    width:100%;
    
    -webkit-transform: translate(-50%,-50%); 
    -ms-transform: translate(-50%,-50%); 
    transform: translate(-50%,-50%); 
    z-index:999;
    background-color: rgba(255, 255, 255, 0.5);
    font-size:1.1em;
    line-height:1.7em; /* 줄간격 조정 */
}



/* ============== right_side END ============== */