@font-face {
  font-family: "SeoulNamsanM";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SeoulNamsanM.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

/* the start of index.html css part */
.index-nav {
  height: 70px;
  background-color: #f1ebde;
}

.index-nav nav-log {
  height: 32px;
  margin: 0 auto;
  background-color: #f1ebde;
}
.index-main-banner {
  background-image: url("asset/backimg01.jpg");
  background-size: cover;
  margin: 0 auto;
  height: 1000px;
  text-align: center;
  background-color: #f1ebde;
}

.index-main-banner h1 {
  height: 200px;
  padding-top: 200px;
  font-size: 150px;
  font-family: "Spicy Rice", cursive;
  letter-spacing: 17px;
  color: white;
  line-height: 200px;
}

.index-main-banner p {
  height: 100px;
  font-size: 30px;
  font-family: "Roboto Mono", monospace;
  color: white;
  line-height: 100px;
}

.index-main-banner .main-banner-lgbtn {
  padding-top: 30px;
  height: 50px;
}

.main-banner-lgbtn button {
  width: 400px;
  height: 50px;
  font-size: 20px;
}

.index-footer {
  height: 70px;
  background-color: #f1ebde;
}

/* the end of the index */

.shaped_square {
  text-align: center;

  font-size: 32px;

  color: #ffffff;

  padding: 10px;

  border: 50px red;

  margin: 10px;

  border-radius: 5px;
  background: none;
}

body,
h1,
h2,
h3,
h4,
h5,
button {
  font-family: "SeoulNamsanM", sans-serif;
}
body {
  margin: 0;
}

.navi {
  margin: 0;
  height: 7.5vmin;
  width: 100vw;

  background-color: rgb(239, 239, 237);
}

.navi * {
  display: inline-block;
}

.logo_image {
  float: left;
  width: 15vmin;
  margin-left: 8%;
  margin-top: -3%;
}

.search {
  position: absolute;
  margin-left: 3.5vmin;
  top: 2.5vmin;
  width: 40%;
  height: 2.5%;
}

.search_button {
  margin-left: 65vmin;
  font-size: 2.5vmin;
}
.user_id,
.user_logout {
  margin-right: 4vmin;
  float: right;
  margin-top: 2.7vmin;
}

#logout {
  text-decoration: none;
  color: black;

  text-align: center;

  border: 1px black;
}

#logout:hover {
  color: gray;
}

/* ============== NAVI END ============== */
.main_grid {
  height: 93vh;
  width: 100vw;
  margin: 0;
  display: inline-block;

  background-color: white;
}

.left_side {
  width: 15vw;
  height: 93vh;
  background-color: beige;
  border: 1px black;
  float: left;
}

.right_side {
  height: 93vh;

  background-color: antiquewhite;
  width: 85vw;
  float: right;
}
